@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;

}

#home {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(100% 225% at 0% 0%, #1a1d0cbb 0%, #17250cf8 100%), radial-gradient(100% 225% at 100% 0%, #000000ec 0%, #21df348f 100%), linear-gradient(180deg, #707211c5 0%, #a9c545c5 100%), radial-gradient(100% 120% at 75% 0%, #3b962077 0%, #050c06ce 100%), linear-gradient(310deg, #13d896ab 0%, #2f3f2165 50%);
    background-blend-mode: overlay, color-dodge, color-burn, color-dodge, normal;
  color: #fff;
}

/* Estilos del nav */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 1.15em;

}

.brand {
  margin: 2px;
  padding: 2px;
  filter: drop-shadow(2px 5px 6px rgba(87, 233, 2, 0.3));
}

.brand h2 {
  font-size: 1em;
  margin-top: -14px;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-weight: bold;
    margin-top: -10px;
}



.menu li {
  list-style: none;
}

.menu a {

  color: #fff;
  text-decoration: none;
  padding: 4.5px 20px;
  border-radius: 2px;
   z-index: 999;
  cursor: pointer;
}



.menu .active, .active, .logo-brand {
  color: #84f714;
}

.menu li:hover a {
  background-color: #7fe421e7;
  color: #000;
}

/*  Estilos del main  */

.main {
  width: 80vw;
  height: 80vh;
  margin: 0 100px;
  padding-top: 8em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}


.main h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
  filter: drop-shadow(2px 5px 6px rgba(87, 233, 2, 0.3));
}

.main h3 {
  margin-bottom: 10px;
  filter: drop-shadow(2px 5px 6px rgba(87, 233, 2, 0.3));
}

.btn {
  padding: 10px 20px;
  background-color: #84f714;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 20%;
  cursor: pointer;
  box-shadow: 3px 4px 13px -1px rgba(87, 233, 2, 0.69);
  font-family: 'Concert One', cursive, sans-serif;
  color: #000;
  font-size: 1em;
}

.btn:hover {
  background-color: #111f04;
  color: #78e410;
  box-shadow: none;
  outline: 1px solid #78e410;
}

.main img {
  width: 100%;
  height: 550px;
  filter: drop-shadow(-3px -9px 10px rgba(87, 233, 2, 0.74));
}

.dividerpage {
  width: 100vw;
  height: 10px;
  background-color: #51eb0a;
}

/* Estilos de la seccion about */

.about-section {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  color: #096e26;

}



.about-section i {
  font-size: 80px;
  text-align: center;
}

/* Estilos de la seccion about skills */

.skills-info {
  width: 40vw;
  height: 50vh;
  grid-column: 5/10;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  align-self: center;
  z-index: 1;
  text-align: center;
  margin-top: -50px;
}

.h2skill {
  display: block;
  padding: 0;
  position: absolute;
  color: #000;
  font-size: 1.7em;
  margin-bottom: 10px;
  margin-left: 34px;
}

.skill-icon {
  width: 120px;
  height: 100px;
  justify-self: center;
  align-self: center;
  margin: 20px;
  margin-top: 90px;
  padding: 10px;
  backdrop-filter: blur(35px);
  background-color: rgba(35, 35, 36, 0.098);
  border-radius: 12px;
  border: 1px solid #1eda2d;
}

.about-section i.fa-brands {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section i.fa-html5 {
  color: #e34c26;
}

.about-section i.fa-css3-alt {
  color: #2965f1;
}

.about-section i.fa-js {
  color: hsl(59, 88%, 52%);
}

.about-section i.fa-bootstrap {
  color: #563d7c;
}

.about-section i.fa-sass {
  color: #cc6699;
}


.about-section i.fa-git-alt {
  color: #f34f29;
}

/* Estilos de la seccion about info*/

.about-info {
  width: 40vw;
  height: 50vh;
  grid-column: 1/5;
  grid-row: 1/5;
  justify-self: center;
  align-self: center;
  z-index: 1;
  margin: 30px;
  margin-left: 50px;
}

.about-info h2 {
  font-size: 2.2em;
  color: #000;
  margin: 10px;
  margin-top: -80px;
  margin-bottom: -8px;

}

.about-info h3 {
  font-family: 'Roboto Mono', monospace;
    color: #000;
    margin: 20px 16px 8px 8px;
    font-size: 1.4em;
}

.about-info p {
  font-family: 'Roboto Mono', monospace;
  margin: 25px 8px 8px 8px;
  color: #000;
  font-weight: 400;
  font-size: 1.2em;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(86, 218, 10);
  margin-top: 5px;
  margin-bottom: 2em;
  margin-left: 1em;
}

.portfolio {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(230, 236, 229, 0.493), rgb(96, 204, 130), rgb(0, 0, 0));
  color: #fff;
  margin: 0 auto;
}

.portfolio .heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-left: 2.1em;
}

.portfolio .heading h2 {
  font-size: 2.1em;
  color: rgb(14, 14, 14);
}

.portfolio .container {
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  height: 400px;
  background-color: rgba(42, 40, 44, 0.753);
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid
   rgba(22, 27, 22, 0.712);
  box-shadow: 2px 2px 2px 2px rgba(37, 80, 48, 0.3);

}


.card__img.one {
  width: 100%;
  height: 250px;
  background-image: url(https://live.staticflickr.com/65535/52174178642_2e6bfc465c_b.jpg);
  background-size: cover;
}

.card__img.two {
  width: 100%;
  height: 250px;
  background-image: url(https://live.staticflickr.com/65535/52175209403_7b23c100c8_b.jpg);
background-size: cover;
}

.card__img.three {
  width: 100%;
  height: 250px;
  background-image: url(https://live.staticflickr.com/65535/52175206876_40dfc1fc05_b.jpg);
  background-size: cover;
}


.card__title {
  padding: 20px;
  justify-content: center;
  text-align: center;
  color: #1cd116;
  background-color: #090a0967;

}

.card__project-links {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.card__project-links a {
  color: #fff;
  text-decoration: none;
}

.card__project-links i {
  font-size: 1.3em;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card__project-links i:hover {
  text-decoration: none;
  color: #0df020;
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(3px);
  }

  65% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

#showall {
  display: inline-block;
  width: 100vw;
  height: 60px;
  text-align: center;
}

.buttonall {
  display: inline-block;
  opacity: 0.9;
  text-align: center;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #8df02a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 4px 13px -1px rgba(87, 233, 2, 0.479);
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  font-size: 1.5em;
  border: 1px solid #000;
}

.buttonall a{
  text-decoration: none;
  color: #000;
}


.buttonall a:hover{
  text-decoration: none;
  color: #0df020;
}


.buttonall:hover {
  text-decoration: none;
  background-color: #111f04;
  color: #78e410;
  box-shadow: none;
  outline: 1px solid #78e410;
}

.contact-section {
  width: 100vw;
  height:100vh;
  background: radial-gradient(100% 225% at 0% 0%, #24290ebb 0%, #39631af8 100%), radial-gradient(100% 225% at 100% 0%, #000000ec 0%, #265e2a8f 100%), linear-gradient(180deg, #313119c5 0%, #789121c5 100%), radial-gradient(100% 120% at 75% 0%, #131b1077 0%, #061308ce 100%), linear-gradient(310deg, #13d896ab 0%, #53882565 50%);
    background-blend-mode: overlay, color-dodge, color-burn, color-dodge, normal;
  color: #fff;

    
}

.contact-section {
  padding: 3em;
}

.container-contact {
    margin: 0 auto;
    margin-top: 10em;
    display: flex;
    align-items: center;

}

.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.contact-section img {
  width: 100%;
  height: 350px;
  filter: drop-shadow(-3px -9px 10px rgba(87, 233, 2, 0.075));
}

.contact-form {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1;
  align-self: center;
  justify-self: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
  column-gap: 1; 
}

.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: rgba(195, 226, 193, 0.63);
  border: 1px solid rgb(27, 216, 9);
  color: rgb(0, 0, 0);
  font-size: 1.3em;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: rgba(195, 226, 193, 0.63);
  border: none;
  border-bottom: 1px solid rgb(27, 216, 9);
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}


.form-group .btn-submit {
    padding: 10px 20px;
  background-color: #84f714;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  cursor: pointer;
  box-shadow: 3px 4px 3px -1px rgba(87, 233, 2, 0.69);
  font-family: 'Concert One', cursive, sans-serif;
  color: #000;
  font-size: 1em;
}

.form-group .btn-submit:hover {
  background-color: #111f04;
  color: #78e410;
  box-shadow: none;
  outline: 1px solid #78e410;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 2em;
  background: linear-gradient(rgba(2, 53, 6, 0.733), rgb(1, 43, 10), rgb(0, 0, 0));;
  position: relative;
  top: 720px;
  z-index: -1;
  color: #fff;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}


.sotial-networks i {
  font-size: 2em;
  text-decoration: none;
  color: rgb(11, 235, 3);
  transition: 1s ease-in;
}

.sotial-networks i:hover{
  transform: scale(1.5);
}
