nav {
    background-color: $black;
    @extend .section;
    position: fixed;
    z-index: 10;
    width: 12%;
    min-width: 170px;
    box-shadow: 0 2px 10px $black;
    margin-left: 0;
    opacity: 1;
    transition: transform 250ms ease-in-out;
    @media screen and (max-width: 1100px) {
        display: none;
    }
    .outer-menu {
        @include flex(column, center);
        list-style: none;
        width: 100%;
        li[data-section='hero'] a {
            font-family: 'Kalam', cursive;
            font-size: 1.2rem;
        }
        & > li {
            text-align: center;
            margin: 30px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                transition: background-color 150ms ease;
                padding: 10px 0;
                color: $white;
                font-weight: bold;
                text-decoration: none;
                display: inline-block;
                position: relative;
                @include flex(center, space-evenly);
                @extend .anchor-bar;
                i {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .has-menu {
            flex-direction: column;
            margin-bottom: 10px;
            a {
                align-self: center;
            }
            & > a {
                margin-bottom: 10px;
                width: 100%;
                justify-content: center;
                &:after {
                    content: none;
                }
            }
            .inner-menu {
                margin-top: -10px;
                li a:after {
                    bottom: 0;
                }
            }
        }
    }
    .inner-menu {
        & > li {
            margin: 10px 0;
            display: flex;
            justify-content: center;
            a {
                padding: 10px 0;
                font-size: 0.8rem;
            }
        }
    }
    .selector {
        position: absolute;
        z-index: -30;
        background-color: $white;
        transition: top 200ms ease-in;
        box-shadow: 0 0 6px $black;
    }
}
