$black: #272b2b;
$white: #ece9e9;
$brown: #4e4d3f;
$teal: #62929e;
$blue: #536979;

@mixin flex($flex-direction: row, $justify-content: space-between) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@import './partials/confetti';
@import './partials/videos';
@import './partials/contact';
@import './partials//about';

.black-text {
    color: $black !important;
}

.anchor-bar {
    &:after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $white;
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 250ms ease-in-out;
    }
    &:hover:after {
        transform: scaleX(1);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
a {
    color: $white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    overflow-x: hidden;
}

#wrapper {
    display: flex;
}

.fab {
    @include flex(row, center);
    align-items: center;
}

main {
    max-height: 100vh;
}

.section {
    min-height: 100vh;
    @include flex(column, space-around);
    align-items: center;
    flex: 1;
    margin-left: 12%;
    @media screen and (max-width: 1100px) {
        margin-left: 0;
    }
}

.tech-list-words {
    display: none;
    list-style: none;
    margin: 1em;
    opacity: 0.9;
    @media screen and (max-width: 820px) {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    li {
        background-color: #272b2b;
        color: white;
        padding: 0.3em;
        border-radius: 25px;
        width: max-content;
        padding: 0.3em 0.7em;
        font-size: 0.9rem;
        margin: 0 20px 30px 0;
    }
}

@import './partials/nav';

$lengths: 121.52619934082031, 122.76060485839844, 83.15902709960938, 80.75180053710938,
    105.00300598144531, 186.551513671875, 118.1707992553711, 73.31317901611328, 199.94654846191406,
    156.72842407226562, 145.99688720703125, 118.17072296142578, 117.36453247070312;

.text-name {
    font-family: 'Kalam', cursive;
    display: none;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    .text-name {
        display: flex;
    }
    h1:not(.text-name) {
        display: none;
    }
}

@each $length in $lengths {
    $i: index(
        $list: $lengths,
        $value: $length,
    );
    #name-svg > path:nth-of-type(#{$i}) {
        stroke-dasharray: $length;
        stroke-dashoffset: $length;
        animation: svgAnim 3s ease forwards;
    }
}

@keyframes svgAnim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: $black;
    }
}

#hero {
    @extend .section;
    width: 60%;
    justify-content: center;
    @media screen and (max-width: 1100px) {
        margin-left: 0;
    }
    & > div {
        margin-top: -150px;
        width: 90%;
    }
    .to-projects {
        margin: 0 auto;
        font-size: 2rem;
        color: $black;
        position: absolute;
        bottom: 50px;
        opacity: 0;
        animation: direction 0.7s linear infinite alternate, fadeIn 1s ease-in-out forwards;
        animation-delay: 3s;
        cursor: pointer;
        display: none;
        @media screen and (max-width: 820px) {
            animation-delay: 2.2s;
            font-size: 1.5rem;
            bottom: 30px;
        }
        i {
            transition: transform 250ms ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .to-projects.show {
        @include flex(row, center);
        @media screen and (max-width: 500px) {
            justify-content: flex-end;
            margin-right: 50px;
        }
    }
    h1 {
        font-size: 7rem;
        color: $black;
        text-shadow: 0 0 1px $black;
        align-items: baseline;
        width: 100%;
        padding-top: 200px;
        @media screen and (max-width: 820px) {
            &.text-name {
                opacity: 0;
                font-size: 5rem;
                padding-top: 150px;
                text-align: center;
                display: flex;
                justify-content: center;
                animation: fadeIn 700ms ease-in 0.5s forwards;
            }
        }
        @media screen and (max-width: 580px) {
            &.text-name {
                font-size: 3rem;
            }
        }
    }
    .subtitle {
        font-size: 1.7rem;
        width: 80%;
        opacity: 0;
        animation: fadeIn 700ms ease-in forwards;
        animation-delay: 700ms;
        color: $black;
        text-align: end;
        letter-spacing: 5px;
        margin-top: 1em;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: 820px) {
            font-size: 0.95rem;
            width: 100%;
            text-align: center;
            animation-delay: 0.5s;
            animation-duration: 1s;
            z-index: -100;
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            background-color: $white;
            animation: slideRight 3s ease forwards 2s;
            @media screen and (max-width: 820px) {
                animation-delay: 0.5s;
            }
        }
    }
    &:after {
        content: '';
        height: 60%;
        width: 120%;
        position: absolute;
        top: 0;
        background-color: #e0e0e0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
        z-index: -10;
        @media screen and (max-width: 820px) {
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 27%);
        }
    }
    .contact-links {
        @include flex(row, space-between);
        width: 320px;
        list-style: none;
        padding-top: 100px;
        @media screen and (max-width: 820px) {
            padding-top: 150px;
            width: 260px;
        }
        @media screen and (max-width: 500px) {
            margin-bottom: -100px;
            padding-top: 200px;
            width: 230px;
        }
        li {
            @include flex(row, center);
            align-items: center;
            opacity: 0;
            position: relative;
            animation: fadeIn 750ms ease-in-out forwards;
            overflow-x: hidden;
            @media screen and (max-width: 820px) {
                animation-duration: 1s;
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: $black;
                transform: translateX(-100%);
                transition: transform 250ms ease-in-out;
            }
            &:hover:after {
                transform: translateX(0);
            }
        }
        li:first-child {
            animation-delay: 2.7s;
            @media screen and (max-width: 820px) {
                animation-delay: 0.7s;
            }
        }
        li:nth-child(2) {
            animation-delay: 3.2s;
            @media screen and (max-width: 820px) {
                animation-delay: 1s;
            }
        }
        li:nth-child(3) {
            animation-delay: 3.7s;
            @media screen and (max-width: 820px) {
                animation-delay: 1.3s;
            }
        }
        li:last-child {
            animation-delay: 4.2s;
            @media screen and (max-width: 820px) {
                animation-delay: 1.5s;
            }
        }
        a {
            color: $black;
            text-decoration: none;
            font-size: 3rem;
            @media screen and (max-width: 1100px) {
                font-size: 2.3rem;
            }
            @media screen and (max-width: 820px) {
                font-size: 1.75rem;
            }
        }
    }
}

@keyframes slideRight {
    to {
        transform: translateX(100%);
    }
}

#facebook,
#filmly,
#battleship,
#other-projects,
#about,
#contact {
    @extend .section;
}

.project-title {
    font-family: 'Kalam', cursive;
    font-size: 2.5rem;
    color: $black;
    margin: 0.5em 2em 1em 0;
    @include flex(row, space-between);
    align-self: stretch;
    align-items: center;
    @media screen and (max-width: 1100px) {
        margin: 0.5em 20px 20px 20px;
    }
    @media screen and (max-width: 580px) {
        margin: 1em 0 0 0;
    }
    div {
        @include flex();
        @media screen and (max-width: 820px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        a {
            @include flex(row, center);
            align-items: center;
            color: $black;
            font-size: 1rem;
            text-decoration: none;
            margin-left: 30px;
            position: relative;
            @media screen and (max-width: 500px) {
                font-size: 0.85rem !important;
                margin-left: 25px;
            }
            &:first-of-type {
                margin-left: 0;
            }
            i {
                width: 26px;
                height: 26px;
                margin-left: 10px;
                font-size: 1.5rem;
                @media screen and (max-width: 820px) {
                    margin-left: 7px;
                }
            }

            @extend .anchor-bar;
            &:after {
                background-color: $black;
            }
        }
    }
}

.video {
    cursor: pointer;
    display: block;
    max-width: 90%;
    max-height: 260px;
    box-shadow: 0 2px 35px -20px $black;
}

.techs-items {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 15px;
    width: 8%;
    @include flex(row, center);
    align-items: center;
    @media screen and (max-width: 820px) {
        flex-wrap: nowrap;
        max-height: 50px;
        min-width: 110px;
        img {
            max-height: 50px;
        }
    }
    img {
        max-width: 100%;
    }
    &#express,
    &#mongo {
        width: 17%;
    }
}

#facebook,
#filmly,
#battleship,
#about {
    @include flex(column, space-around);
    align-items: stretch;
    position: relative;
    @media screen and (max-width: 820px) {
        padding-bottom: 2em;
    }
    .text {
        @include flex(column, space-between);
        align-items: center;
        margin-left: 4em;
        font-size: 1.1rem;
        @media screen and (max-width: 1100px) {
            margin-left: 0;
        }
        h2 {
            @extend .project-title;
            @media screen and (max-width: 820px) {
                flex-direction: column;
                margin-top: 0.5em;
                a {
                    justify-content: flex-end;
                }
            }
        }
        .highlight {
            color: $brown;
            font-weight: bold;
        }
        .techs {
            @include flex(row, space-around);
            list-style: none;
            width: 60%;
            @media screen and (max-width: 1100px) {
                width: 80%;
                li {
                    margin-bottom: 2em;
                }
            }
            @media screen and (max-width: 820px) {
                width: 100%;
                flex-wrap: wrap;
                display: none;
            }
            li {
                @extend .techs-items;
                position: relative;
                span {
                    position: absolute;
                    bottom: -5px;
                    transform: translateY(100%);
                    background-color: $black;
                    color: $white;
                    font-size: 0.7rem;
                    padding: 0.2em 0.5em;
                    border-radius: 25px;
                    display: inline-block;
                    opacity: 0;
                    transition: opacity 250ms ease-in;
                    @media screen and (max-width: 820px) {
                        bottom: 0;
                    }
                }
                &:hover span {
                    opacity: 1;
                }
            }
            li.passport img {
                height: 90%;
                align-self: flex-start;
            }
        }
        & > div {
            width: 75%;
            margin-bottom: 4.5em;
            color: #434444;
            @media screen and (max-width: 820px) {
                margin: 1.5em 0;
                font-size: 1rem;
                width: 90%;
            }
        }
    }
    .images {
        @include flex(row, space-around);
        width: 100%;
        @media screen and (max-width: 1100px) {
            flex-wrap: wrap;
        }
        figure {
            @include flex();
            @media screen and (max-width: 1100px) {
                justify-content: center;
                width: 49%;
                margin-bottom: 2em;
            }
            @media screen and (max-width: 820px) {
                width: 100%;
            }
            video {
                @extend .video;
            }
        }
        figure:first-child {
            margin-left: 4em;
            @media screen and (max-width: 1100px) {
                margin-left: 0;
            }
        }
    }
}

#facebook figure:nth-child(2) {
    @media screen and (max-width: 820px) {
        display: none;
    }
}


@media screen and (max-width: 820px) {
    #filmly .text h2 div {
        flex-wrap: wrap;
        margin-bottom: 0;
        justify-content: space-evenly;
        width: 90%;
        a {
            width: max-content;
            margin-bottom: 20px;
            max-width: 145px;
        }
    }
}

@import './partials/other-projects';

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes direction {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(20%);
    }
}
